/* Appliquer un style de base */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5rem;
  color: white;
}

.hero p {
  font-size: 1.2rem;
  color: rgb(159, 158, 158);
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #121640;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #0040ff;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  color : white;
}

.features p {
  color: rgb(159, 158, 158);
}
.feature {
  text-align: center;
  max-width: 300px;
}

.cta {
  text-align: center;
  padding: 50px 20px;
}

.cta h2 {
  font-size: 2rem;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #06081b, #142f80, #232962, #aa1137);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
