<div class="container">
  <div class="composition-index">
    <h1 id="compositions-title">Mes Compositions</h1>

    <ul>
      <% @compositions.each do |composition| %>
        <li class="composition-item"><%= link_to composition.title, composition_path(composition) %></li>


      <% end %>
    </ul>

  </div>

</div>
