<div class="main-wrapper">
  <div class="container">
    <div class="preference-index">
      <h1>Mes Préférences</h1>

      <ul>



      </ul>
      <h6><%= link_to "Retour", new_preference_path %></h6>
    </div>

  </div>
</div>
