<div class="container">
  <div class="form text-white">

    <%= simple_form_for [@preference] ,url: preferences_path do |f| %>
        <%= f.input :mood_preference, as: :radio_buttons, collection: ["Gaie", "Triste"], label: @questions.first.question %>
        <%= f.input :composition_experience, as: :radio_buttons, collection: ["Oui", "Non"], label: @questions.last.question %>
        <%= f.submit %>
    <% end %>

  </div>

</div>
