.composition h1, h2, h3, h4, h5 {
  text-align: center;
  background-image: linear-gradient(0.45deg, #82e2f3, white);
  color: transparent;
  background-clip: text;
  font-family: Tektur, Helvetica, sans-serif;
}

.composition h1 {
  font-size: 3rem;
  margin: 50px auto 20px auto;
  width: fit-content;
  margin-bottom: 50px;
  margin-left: 330px;
}

.composition h2 {
  font-size: 2.5rem;
  margin-top: 40px;
}

.composition h3 {
  font-size: 2rem;
  margin-top: 30px;
}

.composition h4, h5 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.composition h6 {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  font-family: Tektur, Helvetica, sans-serif;
  font-weight: bold;
}

.return-button {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: var(--color);
  transition: 0.25s;
  border-radius: 50px;
  border: 2px solid var(--color);
  background: none;
  font-family: Tektur, Helvetica, sans-serif;
  line-height: 1;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  box-shadow: inset 0 0 0 0 var(--hover);

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
    color: #82e2f3;
  }
}

.composition {

  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

  ul{
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  h6 {
    font-family: Tektur, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 100px;
  }
}

.composition.players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    max-width: 500px;
    margin-left: 200px;
  }

.content-wrapper {
  margin-left: 90px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

#records {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  border: 2px solid #82e2f3;
  border-radius: 50px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(130, 226, 243, 0.3);

  button, a, audio {
    font-family: Tektur, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  button:hover, a:hover {
    color: #82e2f3;
  }

  audio {
    width: 250px;
  }
}

/* BOUTONS SAMPLES AUDIO */

button.audio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: rgba(130, 226, 243, 0.2);
  border: 2px solid #82e2f3;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

button.audio-button:active {
  transform: scale(0.95);
}

button.audio-button:hover {
  background: #82e2f3;
  color: black;
  transform: scale(1.05);
}

button.audio-button i {
  font-size: 3rem;
  color: #82e2f3;
  transition: color 0.3s ease;
}

button.audio-button:hover i {
  color: black;
}

button.audio-button div {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 8px;
}
